.flexbox {
  display: flex;
  flex-flow: row wrap;
  
  width: fit-content;
  margin: auto;
}

.flexscroll {
  overflow-x: scroll !important;

  .flexscroll-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow-x: visible !important;
  }
  
  .flexscroll[class~="reverse"] {
    flex-direction: row-reverse;
  }

  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none; 
  &::-webkit-scrollbar { 
    width: 0 !important 
  }

  @media (max-width: 600px) {
    & {
      margin: 0 -1.5em;
      .flexscroll-content {
        padding: 0 1.5em;
      }
    }
  }
}