@import '../../Global.scss';

.booking {
  .ticket {
    margin: 1em;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    overflow: hidden;

    background-color: #fff;
    color: #000;

    .event-details {
      background-color: #1c1c1c20;
      padding: 2em;
      margin: -1em -1.5em;
      margin-bottom: 1em;
      text-align: center;
  
      .event-name {
        margin: 0;
      }
      .venue-name {
        margin: 0;
        color: $primaryColor;
      }
    }

    hr {
      border: 1px solid #1c1c1c20;
      margin: 1em 0;
    }

    .dates {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin: 1em 0;
    }

    .timings {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin: 1em 0;
    }
  }

  .payment {
    margin: 1em;
    padding: 1em 1.5em;
    border-radius: 0.5em;

    background-color: #fff;
    color: #000;

    .price {
      display: flex;
      flex-direction: row;
      margin: 2em 0 0 0;

      h3:first-of-type {
        flex-grow: 1;
      }
    }
  }
}

.select-pill {
  border-radius: 0.5em;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  
  font-size: 0.75em;
  margin: 0.5em;
  padding: 0.75em 1.25em;
}
.select-pill[class~="selected"] {
  color: #fff;
  font-weight: 600;
  background-color: $primaryColor;
}