@import '../../Global.scss';

.book-event-details {
  padding: 1.5em;
  margin: -1em -1.5em;
  margin-bottom: 1em;
  text-align: center;
  color: #fff;

  .event-name {
    margin: 0.25em;
    font-size: 2em;
    font-weight: 900;
  }
  .venue-name {
    font-size: 1.5em;
    opacity: 0.75;
  }
}

.booking {
  max-width: 50%;
  border-radius: 0.5em;
  background-color: #fff;

  @media (max-width: 600px) {
    max-width: 100%;
  }

  .ticket {
    margin: 0.5em;
    overflow: hidden;
    color: #000;

    hr {
      border: 1px solid #1c1c1c20;
      margin: 1em 0;
    }

    .dates {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      // margin: 1em 0;
      margin: 0 -0.5em;
    }

    .timings {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      // margin: 1em 0;
      margin: 0 -0.5em;
    }
  }

  .payment {
    margin: 0.5em;
    color: #000;

    .offers {
      margin: 2em 0;
      margin-top: 0;

      .available-offers {
        margin: 1em 0 2em 0;
      }
      
      .offer-item {
        margin: 0.5rem auto;
        padding: 0.75em;
        max-width: 24em;
        background-color: #ffc40020;
        color: #ca9b00;
        border-radius: 10px;

        font-size: 0.85em;
        font-weight: 600;

        .offer-icon {
          width: 15px;
          transform: rotate(90deg);
          margin-right: 0.5em;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      // margin: 2em 0 0 0;

      .right {
        text-align: left;
        flex-grow: 1;

        p {
          margin: 0;
        }
      }

      .left {
        text-align: right;
        flex-grow: 1;

        p {
          margin: 0;
        }
      }
    }
  }
}

.people {
  display: flex;
  flex-direction: column;

  .people-block {
    display: flex;
    flex-direction: row;

    margin: 1.5em 0 0 0;

    * {
      margin: 0;
    }
    
    .people-label {
      width: 25%;
      font-weight: 600;
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      .price {
        color: $primaryColor;
        font-size: 0.8em;
        font-weight: 900;
      }
    }

    .people-controls {
      margin: 0 0 0 2.5em;
      height: 2em;
      background-color: #1c1c1c20;
      border-radius: 5em;
      display: flex;
      flex-direction: row-reverse;
  
      .people-add {
        width: 2em;
        height: 2em;
        background-color: #1c1c1c40;
        border-radius: 50%;
        padding: 0.25em;
        cursor: pointer;
        transition: 0.25s all ease;
  
        display: flex;
        flex-direction: row;
        * {
          margin: auto;
        }
  
        &:hover {
          transition: 0.25s all ease;
          background-color: #1c1c1c60;
        }
      }
      .people-count {
        margin: auto 0;
        width: 2em;
        text-align: center;
        font-size: 1.125em;
        font-weight: 800;
      }
      .people-remove {
        width: 2em;
        height: 2em;
        background-color: #1c1c1c40;
        border-radius: 50%;
        padding: 0.25em;
        cursor: pointer;
        transition: 0.25s all ease;
  
        display: flex;
        flex-direction: row;
        * {
          margin: auto;
        }
  
        &:hover {
          transition: 0.25s all ease;
          background-color: #1c1c1c60;
        }
      }
    }
  }
}

.select-pill {
  border-radius: 0.25em;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  cursor: pointer;
  
  font-size: 0.75em;
  margin: 0.5em;
  padding: 0.75em 1.25em;
}
.select-pill[class~="selected"] {
  color: #fff;
  font-weight: 600;
  background-color: $primaryColor;
}