@import "../../Global.scss";

.booked-ticket {
  max-width: 50%;
  margin: auto;
  border-radius: 0.5em;
  padding: 0;

  display: flex;
  flex-direction: column;

  .message {
    p {
      margin: 0;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    & {
      max-width: 100%;
      margin: auto 1em;
      
      .message {
        p {
          text-align: left;
        }
      }
    }
  }

  .ticket {
    background-color: #fff;
    border-radius: 0.5em;
    overflow: hidden;

    padding: 1em 1.5em;
    max-width: 50%;
    margin: 2em auto;

    @media (max-width: 600px) {
      & {
        max-width: 100%;
      }
    }

    .event-details {
      background-color: $secondaryColor;
      text-align: center;
      margin: -1.5em -1.5em 1em -1.5em;
      padding: 0.5em 1.5em;

      h4 {
        opacity: 0.75;
      }
    }
    
    .booking-details {
      color: #000;
      display: flex;
      flex-direction: column-reverse;
      margin: 1em 0;

      .booking-details-items {
        width: 100%;
        margin: auto;
      }

      .barcode {
        height: auto;
        margin: auto;
        width: 50%;
      }

      .people {
        .people-block {
          margin: 0;
          padding: 0.5em 0;
          border-bottom: 1px solid #00000040;
          font-weight: 600;
          font-size: 0.85em;
        }
      }
    }

    .pricing {
      color: #000;
      padding: 1em 0;

      display: flex;
      flex-direction: row;

      p {
        margin: 0;
      }

      .left {
        flex-grow: 1;
      }
      
      .right {
        text-align: right;
      }
    }
  }
}