@import "../../Global.scss";

.category-item {
  width: 8em;
  height: 6em;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #520f3f80;

  h3 {
    font-size: 1em;
    margin: auto;
    text-align: center;
    color: #fff;
  }
}

.event-date-item {
  width: 10em;
  padding: 1em;
  border: 2px solid #ffffff80;
  background-color: transparent;
  border-radius: 10px;
  margin: 0.5em 1em 0.5em 0;
  transition: all 0.25s ease;

  h3 {
    font-weight: 900;
  }

  p {
    margin: 0;
    opacity: 0.75;
  }

  &:hover, &:active, &:focus {
    transition: all 0.25s ease;
    border: 2px solid #ffffff;
    background-color: #ffffff40;
  }

  // @media (max-width: 600px) {
  //   & {
  //     width: 8em;
  //     margin: 0.5em 0.25em 0.5em 0;
  //   }
  // }
}

.scroll-title {
  margin: 0;
}