@import "../../Global.scss";

.event {
  padding: 1em;
  margin: 1em;

  width: 100%;
  height: 20em;
  border-radius: 0.5em;
  background-color: #20202040;

  position: relative;
  overflow: hidden;

  img {
    height: 65%;
    margin: -1em;
    margin-bottom: 0.5em;
    border-radius: 0;
    object-fit: cover;
    transition: all 0.25s ease;
  }

  p {
    margin: 1rem 0;
  }
  
  .event-venue {
    font-size: 0.85em;
  }

  @media (min-width: 600px) {
    & {
      width: 16em;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.scrollarea-content {
  .event {
    width: 16em;
    transition: all 0.25s ease;

    &:hover {
      transition: all 0.25s ease;
      transform: scale(1.03125);
    }
  }

  .event:first-of-type {
    margin-left: 0;
  }
  .event:last-of-type {
    margin-right: 0;
  }
}

.flexbox {
  @media (min-width: 600px) {
    .event:first-of-type {
      margin-left: 0;
    }
    .event:last-of-type {
      margin-right: 0;
    }
  }
}

// White Event Card ------------------------------
.event[class~="white"] {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 5px #00000080;

  img {
    margin: -1em;
    margin-bottom: 0.5em;
    border-radius: unset;
    width: unset;
    max-width: unset;
  }

  .event-title {
    font-weight: 600;
  }

  .event-venue {
    color: $primaryColor;
  }
}

// Large Event Card ------------------------------
.event[class~="large"] {
  @media (min-width: 600px) {
    & {
      width: 20em;
      height: 22em;
    }

    .event-title {
      font-size: 1.25em;
    }

    .event-venue {
      font-size: 1em;
    }
  }
}