@import "../../Global.scss";

.event {
  padding: 1em;
  margin: 1em;

  width: 100%;
  height: 18em;
  border-radius: 0.5em;

  background-color: #20202040;
  color: #fff;
  box-shadow: none;

  text-align: left;
  position: relative;
  overflow: hidden;
  z-index: 100;

  .image-container {
    margin: -1em;
    margin-bottom: 0.5em;
    height: 65%;
    overflow: hidden;
    
    img {
      width: 100%;
      border-radius: 0;
      object-fit: cover;
      transition: all 0.25s ease;
    }
  }
  
  p {
    margin: 1rem 0;
  }
  
  .event-title {
    font-weight: 600;
    font-size: 1em;
  }
  .event-venue {
    color: #fff;
  }

  @media (min-width: 600px) {
    & {
      width: 16em;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

// --------------------------------------------------------

.scrollarea-content {
  .event {
    width: 16em;
    transition: all 0.25s ease;

    &:hover {
      transition: all 0.25s ease;
      transform: scale(1.03125);
    }
  }

  .event:first-of-type {
    margin-left: 0;
  }
  .event:last-of-type {
    margin-right: 0;
  }
}

.flexbox {
  .event {
    margin: 0.5em;
  }

  @media (max-width: 600px) {
    .event {
      width: 12em;
      margin: 0.25em auto;
      
      .event-title {
        font-size: 1em;
      }
    }
  }
}

// Dark Event Card ------------------------------
.event[class~="white"] {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 5px #00000080;

  .event-venue {
    color: $primaryColor;
  }
}

// Large Event Card ------------------------------
.event[class~="large"] {
  @media (min-width: 600px) {
    & {
      width: 20em;
      height: 22em;
    }

    .image-container {
      margin-bottom: 0.25em;
      height: 75%;
    }

    .event-title {
      font-size: 1.25em;
    }

    .event-venue {
      font-size: 1em;
    }
  }
}