@import "../../Global.scss";

.venue {
  padding: 1em;
  margin: 1em;

  width: 100%;
  height: 16em;
  border-radius: 0.5em;
  background-color: #20202040;

  background-color: #000;
  color: #000;
  box-shadow: 0 0 5px #00000080;

  position: relative;
  overflow: hidden;

  .image-container {
    margin: -1em;
    width:  100%;
    height: 100%;
    overflow: hidden;
    
    img {
      position: absolute;
      opacity: 0.75;
      height: 100%;
      border-radius: 0;
      object-fit: cover;
      transition: all 0.25s ease;

      &:hover {
        transition: all 0.25s ease;
        transform: scale(1.0625);
      }
    }
  }
  
  p {
    margin: 1rem 0;
  }
  
  .venue-title {
    color: #fff;
    position: absolute;
    font-weight: 600;
    bottom: 1em;
  }

  .venue-city {
    color: #fff;
    opacity: 0.75;
  }

  @media (min-width: 600px) {
    & {
      width: 16em;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.flexscroll-content {
  .venue {
    width: 16em;
    transition: all 0.25s ease;
  }

  .venue:first-of-type {
    margin-left: 0;
  }
  .venue:last-of-type {
    margin-right: 0;
  }
}

.flexbox {
  .venue {
    margin: 0.5em auto;
  }
  
  @media (max-width: 600px) {
    .venue {
      width: 10em;
      height: 10em;
      margin: 0.5em auto;
      
      .venue-title, .venue-city {
        font-size: 0.85em;
      }
    } 
  }
}

// Dark venue Card ------------------------------
.venue[class~="dark"] {
  background-color: #20202040;
  color: #fff;
  box-shadow: none;

  .venue-venue {
    color: #fff;
  }
}

// Large venue Card ------------------------------
.venue[class~="large"] {
  @media (min-width: 600px) {
    & {
      width: 20em;
      height: 22em;
    }

    .venue-title {
      font-size: 1.25em;
    }

    .venue-venue {
      font-size: 1em;
    }
  }
}