@import "../../Global.scss";

footer {  
  margin: -0.5em;
  margin-top: 4em;

  .mobile-advert {
    padding: 2em;
    background: #490c38;
    position: relative;
    overflow: hidden;

    .app-mockup {
      padding: 1em;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      position: absolute;
      width: 36em;
      height: 100%;
      top: 0;
      left: 5vw;

      img {
        width: 100%;
        margin: auto;
      }

      @media (max-width: 600px) {
        & {
          display: none;
        }
      }
    }

    .app-icons {
      img {
        margin: 0 0.25em;
        :first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .cities {
    padding: 2em;
    margin: 2em 0;
  }

  .base {
    padding: 2em;
    background-color: #000;
  }
}