@import "../../Global.scss";

footer {
  margin: -0.5em;
  margin-top: 1em;
  // max-width: 1200px !important;

  .mobile-advert {
    padding: 2em;
    background: #490c38;
    position: relative;
    overflow: hidden;

    .app-mockup {
      padding: 1em;
      display: flex;
      flex-direction: column;
      
      position: absolute;
      transform: rotate(-30deg);
      width: 20em;
      height: 100%;
      top: 0;
      left: 8vw;

      img {
        width: 100%;
        margin: auto;
      }

      @media (max-width: 600px) {
        & {
          display: none;
        }
      }
    }

    .app-icons {
      img {
        margin: 0 0.25em;

        :first-of-type {
          margin-left: 0;
        }

        @media (max-width: 600px) {
          & {
            width: 120px
          }
        }
      }
    }
  }

  .cities {
    padding: 2em 1em;
    background-color: #1c1c1c;
    
    div {
      padding: 0;
      margin: 0;
    }

    a {
      color: #fff;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        opacity: 0.75;
      }
    }

    .footer-city {
      a {
        font-size: 1.25em;
      }
    }

    .footer-locality {
      a {
        font-size: 0.85em;
      }
    }
  }

  .base {
    padding: 2em;
    background-color: #000;

    a {
      font-size: 0.85em;
      color: #ffffff80;
    }

    .endcard {
      text-align: center;
      display: flex;
      flex-direction: column;

      .social {
        margin: 0 auto;

        display: flex;
        flex-direction: row;

        img {
          margin: 0.5em 1em;
          filter: grayscale(100%);
          transition: filter 0.25s ease;

          &:hover, &:active, &:focus {
            transition: filter 0.25s ease;
            filter: none;
          }
        }
      }
    }
  }
}