@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$font: 'Poppins';

$color-primary: #0077ff;

* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: $font, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

.spacer {
  padding: 0.25em;
}

.hamburger {
  display: block;
  margin: auto 0 auto auto;
  height: 100%;
  padding: 1em;
  padding-right: 0.5em; 
  justify-self: center;
  align-self: flex-end;
  z-index: 11000;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 25px;
  transition: all 0.25s ease;
}
.hamburger span::before,
.hamburger span::after {
  content: '';
  position: absolute;
}
.hamburger span::before {
  bottom: 7px;
}
.hamburger span::after {
  top: 7px;
}