@import '../../Global.scss';

.event-details {
  .action {
    position: relative;

    .book {
      position: fixed;
        
      width: 100%;
      padding: 1em 1.5em;
      left: 0;
      bottom: 0;
      z-index: 10000;

      button {  
        width: 100%;
        border: none;
        color: $primaryColor;
        font-size: 1.125em;
        font-weight: 900;
        font-family: $poppinsFont;
        padding: 1em;

        box-shadow: 0 0 15px #1c1c1c80;
        background-color: #fff;
        border-radius: 0.45em;
        text-transform: uppercase;
  
        &:focus, &:active {
          outline: none;
        }
      }
    }

    .floater {
      background: #fff;
      border-radius: 0.5em;
      box-shadow: 0 0 10px #1c1c1c80;

      .block {
        padding: 1.5em;
        color: #000;
      }
  
      .event-name {
        margin: 0;
      }
  
      .venue-name {
        color: #dd0000;
      }
    }

    @media (min-width: 600px) {
      & {
        // width: 24em;
        // position: fixed;
      }
    }

    .attendees {
      display: flex;
      flex-direction: row;
      
      span {
        margin: auto 0.25em;
        padding: 1em;
        border-radius: 50%;
        background: #fff;

        &:first-of-type {
          margin-left: 1em;
        }
      }
    }
  }
}