@import '../../Global.scss';

.event-details {
  .action {
    position: relative;

    // .floater {
    //   @media (min-width: 600px) {
    //     & {
    //       position: fixed;
    //       width: 25em;
    //     }
    //   }
    // }

    .button-container {
      button {
        width: 100%;
        padding: 1em 1.5em;

        border: none;
        color: #fff;
        font-size: 1.125em;
        font-family: $poppinsFont;
        background: $secondaryColor;
        text-transform: uppercase;
        border-radius: 0.45em;
        
        color: $secondaryColor;
        background: #fff;

        &:focus, &:active {
          outline: none;
        }
      }

      @media (max-width: 600px) {
        // & {
        //   position: fixed;
        //   width: 100%;
        //   padding: 1em;
        //   bottom: 0;
        //   left: 0;

        //   button {
        //     border-radius: 0.45em;
        //     z-index: 10000000000;
        //     color: $secondaryColor;
        //     background: #fff;
        //     box-shadow: 0 0 10px #1c1c1c80;
        //   }
        // }
      }
    }

    .event-title {
      font-size: 2.5em;
    }

    .venue-title {
      // font-size: 1rem;
      margin: 1em 0;
    }

    .event-dates {
      font-size: 1em;
      margin: 1em 0;
    }

    .event-price {
      font-size: 1em;
      margin: 1em 0;
    }

    .offers {
      margin: 1em 0;

      .offer-item {
        margin: 0.5em 0;
        padding: 0.5em 0.75em;
        border-radius: 0.5em;

        background-color: #ff9e00;
        color: #000;
        font-weight: 600;
        font-size: 0.85em;
      }

      .offer-icon {
        width: 15px;
        transform: rotate(90deg);
        margin-right: 0.5em;
      }
    }

    @media screen {
      .event-title {
        font-size: 2em;
      }
  
      .venue-title {
        // font-size: 1rem;
        margin: 1em 0;
      }
  
      .event-dates {
        font-size: 1em;
        margin: 1em 0;
      }
  
      .event-price {
        font-size: 1em;
        margin: 1em 0;
      }
    }
  }
}

.event-detail-items {
  margin: 1em 0;

  .detail-item {
    margin: 1.5em 0;
    font-size: 1em;
    
    display: flex;
    flex-direction: row;

    span {
      font-size: 0.85em;
    }
    
    .label {
      font-size: 1.125em;
      font-weight: 600;
      margin: auto 1em auto 0;
      opacity: 0.75;
    }

    .item {
      font-size: 0.75em;
      border-radius: 2em;
      border: 1px solid #fff;
      background: #ffffff40;
      padding: 0.25em 0.75em;
    }
  }
}

.event-listing {
  .listing {
    display: flex;
    flex-direction: row;
    
    #drawer-open {
      display: none;       
    }

    .list {
      width: 100%;
    }
  } 
}

.filters {
  display: flex;
  flex-direction: column;

  .filter-category-item {
    width: max-content;
    padding: 0.5em;
    margin: 0.25em;
    font-size: 0.85em;
    border-radius: 2em;
    border: 1px solid #fff;
    cursor: pointer;
  }

  .title {
    border: none;
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 0.85em;
  }
}