/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent !important;
}

.MuiIconButton-root:focus, .MuiIconButton-root:active {
  outline: none;
}