@import "../../Global.scss";

.button {
  font-family: $montserratFont;
  font-weight: 600;
  font-size: 16px;
  margin: 0.5rem;
  padding: 0.75em;
  width: 100%;

  min-width: 6em;
  max-width: 10em;
  
  background: #FFF;
  color:#000;

  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #1c1c1c60;
  transition: all 0.5s ease;
  position: relative;
}

.button:active {
  transition: all 0.25s ease;
  transform: scale(0.95);
  transform: translate(0.25em 0.25em 0);
}
.button:active, .button:focus {
  outline: none;
}

// Button Sizes -------------------------------------------
.button[class~="small"] {
  min-width: 4em;
  max-width: 6em;
  font-size: 0.75rem;
}

.button[class~="medium"] {
  padding: 1em;
  min-width: 6em;
  max-width: 10em;
}

.button[class~="large"] {
  padding: 1.5em;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

// Button Variants -------------------------------------------
.button[class~="outlined"] {
  // outline: 
}

.button[class~="contained"] {
  
}

.button[class~="text"] {
  background: none;
  box-shadow: none;
  color: $primaryColor;
}

// Button Colors ------------------------------------------
.primary {
  color: $accentLightColor;
  background: $primaryColor;
}

.secondary {
  color: $accentLightColor;
  background: $secondaryColor;
}

.default {
  background: #FFF;
  color:#000;
}