.MuiPaper-root:active, .MuiPaper-root:focus {
  outline: none;
}

.Fullscreen-modal {
  margin: auto;
  padding: 1em;
  border-radius: 0 !important;
  animation: openModal 0.25s ease forwards;

  @keyframes openModal {
    from {
      width: 50%;
      height: 50%;
      opacity: 0;
    }
    to {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

#--modal-select-city {
  .modal-content-city {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    width: 16em;
    margin: auto;

    .modal-title {
      margin: 1em auto;
    }
  }
}