$section-content-bg: #bdbdbd80;

.page {
  .page-header {
    padding: 2em;
  }

  .title {
    margin-bottom: 1em;
  }

  .section-nav {
    padding: 0 2em;

    .nav-item {
      margin: auto 0.25em;
    }
  }

  .section-content {
    background: $section-content-bg;
    padding: 2em;
  }
  @media (max-width: 600px) {
    .section-content {
      padding: 0;
    }
  }
}