.image-placeholder {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-image: linear-gradient(90deg, #333 45%, #444 55%, #333 60%, #333 100%);
	background-size: 400% 400%;
  animation: shimmer 2.5s ease infinite;
}

@keyframes shimmer {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;		
	}
}