# Admin ClubGo
server {
    server_name admin.cg.zrthxn.com;

    root /home/zrthxn/clubgo/dist/apps/admin;
    index index.html;

    listen 443 ssl; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = admin.cg.zrthxn.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

	listen 80;
	server_name admin.cg.zrthxn.com;
    return 404; # managed by Certbot
}