# Admin ClubGo
server {
    listen 443 ssl;
    server_name beta.cgsquad.in;

    root /home/deploy/clubgo/dist/apps/admin;
    index index.html;

    location / {
        # Serve website
        try_files $uri /index.html =404;
    }
}

server {
    if ($host = beta.cgsquad.in) {
        return 301 https://$host$request_uri;
    }

	listen 80;
	server_name beta.cgsquad.in;
    return 404;
}