# ClubGo API
server {
    server_name api.cg.zrthxn.com;

    location / {
        proxy_pass http://localhost:3333;
        proxy_set_header Host $host;
    }

    listen 443 ssl; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = api.cg.zrthxn.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name api.cg.zrthxn.com;
    return 404; # managed by Certbot
}