# ClubGo CDN
server {
    server_name cdn.cg.zrthxn.com;

    location / {
        proxy_pass http://localhost:4444$request_uri;
        proxy_set_header Host $host;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/cg.zrthxn.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/cg.zrthxn.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = cdn.cg.zrthxn.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name cdn.cg.zrthxn.com;
    return 404; # managed by Certbot
}