# ClubGo CDN
server {
    listen 443 ssl;
    server_name cdn.clubgo.in;

    location / {
        proxy_pass http://localhost:4444;
        proxy_set_header Host $host;
    }
}

server {
    if ($host = cdn.clubgo.in) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name cdn.clubgo.in;
    return 404;
}