# Main ClubGo
server {
    server_name cg.zrthxn.com;

    root /home/zrthxn/clubgo/dist/apps/website;
    index index.html;
    
    location = /_authenticate {
        proxy_pass http://localhost:3333;
        proxy_set_header Host $host;
    }

    location = /_login {
        proxy_pass http://localhost:3333;
        proxy_set_header Host $host;
    }
    
    location / {
        # Serve website
        try_files $uri /index.html =404;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/cg.zrthxn.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/cg.zrthxn.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = cg.zrthxn.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name cg.zrthxn.com;
    return 404; # managed by Certbot
}