# Main ClubGo
server {
    listen 443 ssl;
    server_name clubgo.in;

    root /home/deploy/clubgo/dist/apps/website;
    index index.html;
    
    location /_authenticate {
        proxy_pass http://localhost:3333;
        proxy_set_header Host $host;
    }

    location /_login {
        proxy_pass http://localhost:3333;
        proxy_set_header Host $host;
    }
    
    location / {
        # Serve website
        try_files $uri /index.html =404;
    }
}

server {
    if ($host = clubgo.in) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name clubgo.in;
    return 404;
}