@import "../../Global.scss";

.textbox-container {
  padding: 0.75rem;
  margin: 0.5rem 0;
  background: #1C1C1C60;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.25s ease;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

  .textbox {
    font-family: $montserratFont;
    font-size: 16px;
    width: 100%;
    color: #FFF;
    background: transparent;
    flex-grow: 1;
  
    max-width: 20em;
    transition: all 0.25s ease;
    border: none;

    &::placeholder {
      font-family: $montserratFont;
      color: #FFFFFF80;
    }

    &:focus {
      outline: none;
    }
  }

  .input-adornment {
    * {
      margin: 0;
    }
  }
}

.textbox-container[class~="focussed"] {
  background: #1C1C1C80;
  transition: all 0.25s ease;
  outline: none;
}

// Textbox Colors -----------------------------------------
.textbox-container[class~="dark"] {
  background: #1C1C1C60;
  border: 2px solid transparent;

  .textbox {
    color: #FFF;
  }
}

.textbox-container[class~="light"] {
  background: #FFF;
  border: 2px solid transparent;

  .textbox {
    color: #1C1C1C;

    &::placeholder {
      color: #1C1C1C80;
    }
    
    &::selection {
      color: #FFF;
      background: $primaryColor;
    }
  }
}

// Textbox Variants ---------------------------------------
.textbox-container[class~="solid"] {
  background: #1C1C1C20;
  border: 2px solid transparent;

  .textbox {
    color: #1C1C1C;

    &::placeholder {
      color: #1C1C1C;
    }
  }
}

.textbox-container[class~="unconstrained"] {
  max-width: 100% !important;
}

.textbox-container[class~="outlined"] {
  font-weight: 600;
  background: transparent;
  border: 2px solid #1C1C1C60;

  .textbox {  
    color: #1C1C1C;

    &::placeholder {
      color: #1C1C1C80;
    }

    &::selection {
      background: #1C1C1C;
    }
  }
}

// Textbox Margins ---------------------------------------
.textbox-container[class~="dense"] {
  padding: 0.75em
}

.textbox-container[class~="normal"] {
  padding: 1em;
}

.textbox-container[class~="wide"] {
  padding: 1.5em;
}