$section-content-bg: #bdbdbd40;

.create-form {  
  .form-title {
    width: fit-content;
    font-weight: 600;
    font-size: 1.5em;
    padding: 1em;
  }
}

.create-block {
  margin: 1em;
  padding: 2em;
  border: 1.5px solid #1c1c1c40;
  box-shadow: none;

  .title {
    text-transform: uppercase;
    color: #1c1c1c;
    font-size: 1em;
    font-weight: 600;

    margin: -2em;
    padding: 2em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  position: relative;

  input ~ .invalid-feedback {
    position: absolute;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.25em;
    right: 3em;
    width: 0;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 0.25em;
    background-color: #ff7676a3;
    animation: reveal-invalid 1s ease-in-out forwards;
  } @keyframes reveal-invalid {
    from { width: 0 }
    to { width: fit-content }
  }

  label {
    width: 20%;
    padding: 0.25em;
    text-overflow: ellipsis;
  }
  label[class~="required"]::after {
    content: ' *';
    color: #ff0000;
    display: inline;
  }
}

.chips-container {
  padding: 0.5em;
}

.inline-text-label{
  text-transform: unset;
  color: #5f5f5f;
  font-size: 0.9em;
  font-weight: 400;
}