.listings {  
  .table-title {
    width: fit-content;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 0 1em 0;
  }
  
  .listing-table {
    margin: 2em 0;

    .list-item {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0;
      padding: 1em;
      background-color: #fff;

      border: 1.5px solid #1c1c1c40;
      border-radius: 5px;
    }
  }
}