.listings {
  padding: 2em;
  
  .table-title {
    width: fit-content;
    font-weight: 600;
    font-size: 1.5em;
    margin: 2em 0.75em;
  }
}

.listing-table {
  margin: 2em 0;
  padding: 1em;
  // background-color: #fff;
}

.list-item {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding: 1em;
  background-color: #fff;

  border: 1.5px solid #1c1c1c40;
  // box-shadow: 0 0 2px #1c1c1c80;
  border-radius: 5px;
}