.offer-block {
  padding: 2em;

  .offer-category-chip {
    padding: 0.5em;
    font-size: 0.75em;
    background-color: #1c1c1c40;
    margin: 0.25em;
    border-radius: 5px;
  }
}

.create-offer-modal {
  padding: 1em;
}