$cutoutRadius: 15px;

.ticket {
  padding: 1em;
  margin: 1em auto;
  background: linear-gradient(#185ead10, #185ead40);
  position: relative;

  width: 100%;
  // height: fit-content;
  height: 10em;
  max-width: 18em;

  &:after {
    content: "";
    position: absolute !important;
    top: 0;
    left: 0;
    border-right: #fff $cutoutRadius solid;
    border-bottom: #fff $cutoutRadius solid;
    border-radius: 0 0 20px 0;
  }
  
  &:before {
    content: "";
    position: absolute !important;
    top: 0;
    right: 0;
    border-left: #fff $cutoutRadius solid;
    border-bottom: #fff $cutoutRadius solid;
    border-radius: 0 0 0 20px;
  }
}
// ----------------------------------------------

.ticket-item {
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;

  .ticket-title {
    font-size: 1.25em;
    margin: 0;
  }

  .price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }

  &:after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-right: #fff $cutoutRadius solid;
    border-top: #fff $cutoutRadius solid;
    border-radius: 0 20px 0 0;
  }
  
  &:before {
    content: "";
    position: absolute !important;
    bottom: 0;
    right: 0;
    border-left: #fff $cutoutRadius solid;
    border-top: #fff $cutoutRadius solid;
    border-radius: 20px 0 0 0;
  }
}
