header {
  // position: fixed;
  padding: 2em 1em;
  background: linear-gradient(#ff000040, transparent);
  margin: -1em;

  .container {
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
  }

  #site-title {
    margin: 0 !important;
    flex-grow: 0.40;
  }

  .MuiIconButton-root {
    color: unset;
  }
}
