header {
  padding: 0.5em;
  z-index: 10;
  background: linear-gradient(#00000040, transparent);
  margin: -0.5em;
  margin-bottom: 1em;

  .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    max-width: unset !important;
  }

  #site-title {
    padding: 0;
    margin: 0 !important;
    font-size: 1.75em;
    flex-grow: 0.40;
    z-index: 110;
  }

  .set-city {
    cursor: pointer;
    margin: 1em;
    display: inline;
    font-weight: 600;
  }

  .desktop-nav {
    display: none;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    margin: 8em 2em;
    width: 50%;
    height: fit-content;
    text-align: left;
    transition: all 0.5s ease;

    color: #000;
    
    a {
      margin: 0.5em 1em;
      color: #000;
      text-decoration: none;

      h4 {
        font-weight: 600;
        color: #000;
      }
    }    
    
    .category-link {
      margin: 0.5em 1em 0.5em 1em;
      // h4 {
      //   font-size: 0.85em;
      //   font-weight: 400;
      //   color: #000;
      // }
    }
  }
  
  @media (min-width: 600px) {
    .sidebar-nav {
      display: none;
    } 
    .hamburger {
      display: none;
    }
    .desktop-nav {
      display: flex;
      flex-direction: row;

      a {
        margin: auto 1em;
      }
     
      h4 {
        font-weight: 600;
        transition: all 0.25s ease;
  
        &:hover {
          transition: all 0.25s ease;
          color: #fff;
        }
      }
    }
  } 

  // @Overrides
  .MuiIconButton-root {
    color: unset;
  }
}

.hamburger {
  display: block;
  margin: auto 0 auto 1em;
  height: 100%;
  padding: 1em 0;
  justify-self: center;
  align-self: flex-end;
  z-index: 110;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 25px;
  transition: all 0.25s ease;
}
.hamburger span::before,
.hamburger span::after {
  content: '';
  position: absolute;
}
.hamburger span::before {
  bottom: 7px;
}
.hamburger span::after {
  top: 7px;
}

#sidebar-toggle:checked ~ .hamburger {
  position: fixed;
  left: 0.25em;
  top: 1.25em;
}

#sidebar-toggle:checked ~ .hamburger span::before {
  bottom: 0;
  transform: rotate(-45deg);
  background: #000;
} #sidebar-toggle:checked ~ .hamburger span {
  background: transparent;
} #sidebar-toggle:checked ~ .hamburger span::after {
  top: 0;
  transform: rotate(45deg);
  background: #000;
}

// SIDEBAR MENU ---------------------
.sidebar {
  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  max-width: 300px;
  // background: linear-gradient(#ff0000, #aa0000);
  background-color: #fff;
  transition: all 0.25s ease;
} #sidebar-toggle:checked ~ .sidebar {
  animation: slide 0.25s ease forwards;
}
@keyframes slide {
  from {}
  to {
    opacity: 1;
    width: 75%;
  }
}

// SIDEBAR SHADOW ---------------------
.sidebar-shadow {
  position: fixed;
  display: none;
  opacity: 0;
  animation: show 0.25s ease reverse;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
} #sidebar-toggle:checked ~ .sidebar-shadow {
  display: block;
  opacity: 0.6;
  background-color: #000;
  animation: show 0.5s ease;
} @keyframes show {
  from { opacity: 0 } to { opacity: 0.6 }
}