@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

$poppinsFont: 'Poppins', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$francoisFont: 'Francois One', sans-serif;

$primaryColor: #D62839;
$secondaryColor: #89216B;
$accentColor: #26233D;
$accentLightColor: #FFF;

$bodyBg: linear-gradient(135deg, $primaryColor, $secondaryColor);

body {
  background: $bodyBg;
  height: 100%;
  font-family: $montserratFont;

  color: #fff;
  margin: 0;
}
::selection {
  background: #FFF;
}

// Typography ---------------------------------------------
// ========================================================
h1 {
  // Page Heading
  font-family: $francoisFont;
  font-size: 36px;
  font-weight: 600;
  margin: 2.5rem 0;
  margin-top: 0.75rem;
}
h1[class~="light"] {
  font-family: $montserratFont;
  font-weight: 200;
}

h2 {
  // Section Heading
  font-family: $montserratFont;
  font-size: 24px;
  font-weight: 800;
  margin: 0.75rem 0;
}

h3 {
  // Label
  font-family: $poppinsFont;
  font-size: 18px;
  font-weight: 500;
  margin: 0.25rem 0;
}
h4 {
  // Subheading
  font-family: $montserratFont;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFFC0;
  margin: 0.25rem 0;
}

p {
  font-family: $montserratFont;
  font-size: 14px;
  font-weight: 400;
  margin: 1.5rem 0;
}

a {
  text-decoration: none;
  color: $primaryColor;
  font-weight: 600;
}

a[class~="no-decor"] {
  text-decoration: none;
  color: unset;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

// ========================================================

article {
  opacity: 1;
  z-index: 1;
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  max-width: 1200px;
  margin: auto;
  padding: 0.5em;
}

.container {
  padding: 1em;
}

.scroll-view-area {
  width: 100%;
  margin: 0;
  position: relative;

  @media (max-width: 600px) {
    .scrollbar-container {
      padding: 0 !important;
    }
  }
}

.scroll-container-row {
  display: flex;
  flex-direction: row;  
  width: fit-content;
  overflow: visible;
  position: relative;
  
  padding: 1em 0;

  @media (min-width: 600px) {
    & {
      padding: 1em 0;
    }
  }
}

.scroll-container-col {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  overflow: visible;
  padding: 1em 0;
}